.About{
    width: 100%;
    height: 40vh;
    background-color: #0d1b32;
    margin: 0;
    justify-content: center;
    text-align: center;
    animation: fadeIn 2s ease;
    padding: 50px 250px 0 250px;
}
.myTitle{
    color: white;
}
#About-Paragraph{
    color: rgb(33, 33, 33);
}
.link{
    width: 100%;
    height: 7vh;
    background-color: #d3e3fd;
    display: flex;
    padding: 15px 0 0 70px;
}
.myAbout-Content{
    width: 100%;
    display: flex;
    padding: 30px;
    margin-top: 50px;
}
.LeftmyAbout{
    width: 50%;
    padding: 0 20px 0 50px;
    animation: fadeIn 2s ease;
}
.RightmyAbout{
    width: 50%;
    padding-left: 30px;
    margin: 0;
    justify-content: center;
    text-align: center;
    animation: fadeIn 2s ease;
}
.myVideo-about{
    width: 90%;
    height: 70vh;
}
/* Our Team */
.Our-Team-Div{
    margin-top: 20px;
}
.Upper-Content{
    text-align: center;
    justify-content: center;
    color: #4b48ac;
}
.Complex-Line{
    display: flex ;
    text-align: center;
    justify-content: center;
}
#Card{
    height: 40vh;
    border-radius: none;
}
#Card-Image{
    height: 220px;
    object-fit: cover;
}
#Card-Title{
    color: #4b48ac;
}
.Our-Team-Descriotion{
    width: 50%;
    margin-left: 27%;
    margin-top: 20px;
    text-align: center;
    justify-content: center;
    color: #000000af;
}
.Down-Content{
    display: flex ;
    text-align: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}
/* Animation */
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


/* Responsive Part */
@media (min-width: 300px) and (max-width: 900px){
    .About{
        height: 60vh;
        padding: 20px 10px 0 10px;
    }
    .link{
        padding: 10px 0 0 20px;
    }
    .myAbout-Content{
        width: 100%;
        display: block;
        padding: 1px;
    }
    .LeftmyAbout{
        width: 100%;
        padding: 0 20px 0 10px;
    }
    .RightmyAbout{
        width: 100%;
        padding-left: 10px;
    }
    .myVideo2{
        width: 100%;
        height: 50vh;
    }
     #About-Paragraph{
        color: rgb(0, 0, 0);
    }
    .Our-Team-Descriotion{
        width: 100%;
        margin-left: 1px;
    }
    .Down-Content{
        display: block;
        gap: 20px;
        margin: 20px 0 0 60px;
    }
    #Card{
        margin-bottom: 10px;
    }
}
@media (min-width: 700px) and (max-width: 1023px){
    .About{
        height: 30vh;
        padding: 20px 20px 0 20px;
    }
    .link{
        padding: 20px 0 0 20px;
    }
}
@media (min-width: 1024px) and (max-width: 1370px){
    .About{
        height: 25vh;
        padding: 50px 50px 0 50px;
    }
    .link{
        padding: 40px 0 0 30px;
    }
    .myAbout-Content{
        width: 100%;
        display: block;
        padding: 1px;
    }
    .LeftmyAbout{
        width: 100%;
        padding: 0 20px 0 20px;
    }
    .RightmyAbout{
        width: 100%;
        padding-left: 20px;
    }
    .myVideo2{
        width: 100%;
        height: 50vh;
    }

}
/* @media (min-width: 1280px) and (max-width: 1440px) */
@media (min-width: 1300px) and (max-width: 1440px){
    .About{
        width: 100%;
        height: 41vh;
        background-color: #0d1b32;
        margin: 0;
        justify-content: center;
        text-align: center;
        animation: fadeIn 2s ease;
        padding: 50px 250px 0 250px;
    }
    .link{
        padding: 15px 0 0 70px;
    }
    .myAbout-Content{
        width: 100%;
        display: flex;
        padding: 5px;
    }
    #About-Paragraph{
        color: rgb(35, 35, 35);
    }
  }