.mobile-close-btn {
    /* display: none; */
    position: absolute;
    background: none;
    border: none;
    font-size: 25px;
    cursor: pointer;
    color: rgb(107, 7, 7);
  }
  #close-btn{
    top: 60px;
    right: 450px;
  }
  #pop-div{
    height: 85vh;
    padding-bottom: 10px;
  }
  #why-property{
    font-size: 20px;
  }
  #property-managers{
    font-size: 15px;
  }
  #name{
    font-size: 13px;
  }
  #email{
    font-size: 13px;
  }
  #location{
    font-size: 13px;
  }
  #number{
    font-size: 13px;
  }

  @media (max-width: 768px) {
    .mobile-close-btn {
      display: block;
    }
    .mobile-close-btn {
      /* display: none; */
      position: absolute;
      top: 20px;
      right: 25px;
    }
    #pop-div{
      height: 95vh;
      padding-bottom: 10px;
    }
    #why-property{
      font-size: 15px;
    }
    #property-managers{
      font-size: 10px;
    }
    #name{
      font-size: 10px;
    }
    #email{
      font-size: 10px;
    }
    #location{
      font-size: 10px;
    }
    #number{
      font-size: 10px;
    }
  }
/* @media (min-width: 1280px) and (max-width: 1440px) */
@media (min-width: 1280px) and (max-width: 1440px){
    .mobile-close-btn {
      /* display: none; */
      top: 60px;
      right: 500px;
    }
    #pop-div{
      height: 85vh;
      padding-bottom: 10px;
    }
  }


  